@import "tailwindcss";

/* opcional: dark por clase */
@custom-variant dark (&:where(.dark, .dark *));

html { color-scheme: light dark; }
body { @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white; }
